.counter {
    padding: 4rem;
    margin: 4rem 10rem;
    border: 2px solid black;
    background-color: lightgrey;
    color: rebeccapurple;
    font-size: 16px;
    border-radius: 2rem;
    display: inline-block;
}

h1 {
    text-align: center;
}

.my-button {
    background: #eb94d0;
    background-image: -webkit-linear-gradient(top, #6cbbec, #1f0adfc4);
    background-image: -moz-linear-gradient(top, #6cbbec, #1f0adfc4);
    background-image: -ms-linear-gradient(top, #6cbbec, #1f0adfc4);
    background-image: -o-linear-gradient(top, #6cbbec, #1f0adfc4);
    background-image: linear-gradient(to bottom, #6cbbec, #1f0adfc4);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
}

.my-button:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #1f0adfc4, #6cbbec);
    background-image: -moz-linear-gradient(top, #1f0adfc4, #6cbbec);
    background-image: -ms-linear-gradient(top, #1f0adfc4, #6cbbec);
    background-image: -o-linear-gradient(top, #1f0adfc4, #6cbbec);
    background-image: linear-gradient(to bottom, #1f0adfc4, #6cbbec);
    text-decoration: none;
}